@font-face {
  font-family: GT Walsheim;
  font-weight: 500;
  src: url(/fonts/GTWalsheimProBold.woff) format("woff");
}
@font-face {
  font-family: GT Walsheim;
  font-weight: 400;
  src: url(/fonts/GTWalsheimProRegular.woff) format("woff");
}
